.custom-input {
    width: 100vw; /* Anchura personalizada */
    display: flex;
    justify-content: center;
}
.passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    margin: 0 auto !important;
 }

 .passwordIcon1{
    font-size:2rem !important;
    position: relative !important;
    margin: 0 auto !important;
 }